[user]
    email = olivier.kessler@protonmail.com
	name = Olivier Kessler
[core]
	editor = "/usr/local/bin/nvim"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
