[includeIf "gitdir:~/code/owkin/"]
    path = ~/.gitconfig-work

[includeIf "gitdir:~/code/perso/"]
    path = ~/.gitconfig-perso

[core]
	editor = "/usr/local/bin/nvim"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main

